.ih-select-btn {
    /* background-color: violet; */
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2px; */
    display: grid;
    /* grid-template: auto auto auto auto; */
    /* grid-template-columns: auto auto auto; */
    /* grid-template-rows: auto; */
    justify-items: center;

    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start; */
}

.ih-select-btn .opt-wrapper {
    display: flex;
    justify-content: center;
}
.ih-select-btn .opt {
    font-size: 1.1rem;
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    margin: 2px;
    /* background-color: rgb(238, 238, 238); */
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ih-select-btn .opt:hover {
    background-color: rgb(192, 192, 192);
}
.ih-select-btn .opt[isselected=true] {
    font-weight: bold;
    background-color: rgb(192, 192, 192);
}
.ih-select-btn .opt[isselected=true]:hover {
    background-color: rgb(161, 161, 161);
}