:root {
    --topcolor:rgb(216, 216, 216);
    --botcolor:rgb(241, 241, 241);
    --strcolor: rgb(148, 123, 123);
    --midcolor: rgb(196, 164, 164);
    --ligcolor: rgb(229, 190, 190);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

button {
    border: 1px solid transparent;
    background-color: var(--midcolor);
    border-radius: 30px;
    padding: 5px;
    /* min-height: 30px; */
    cursor: pointer;
    margin: 5px;
}

button:hover {
    border: 1px solid black;
    background-color: var(--strcolor);
}

.mm-app-container .title {
    text-align: center;
    font-size: 1.25rem;
    padding-top: 15px;
    height: 50px;
    background-color: transparent;
    background-color: var(--strcolor);
    width: 100%;
}

.mm-app-container .game {
    /* min-height: calc(100vh - 50px); */
    /* min-height: calc(100vh); */
    min-height: 100vh;
    /* height: auto; */
    background-color: var(--botcolor);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    /* padding-top: 10px; */
    /* display: grid;
    grid-template-columns: auto auto auto; */
    padding-bottom: 100px;
}

/* @media(min-width:600px) {
    .mm-app-container .game {
        display: flex;
        width: 100%;
    }
    .mm-app-container[config=true] .config {
        display: block;
        width: 30%;
        float: left;
    }
    .mm-app-container[config=true] .game {
        display: flex;
        width: 70%;
        float: right;
    }
} */


/* config panel */
